
/* ====================
     公共样式
==================== */
body{background:#fff; font-size:12px; font-family:"宋体",Verdana, Arial; line-height:150%; margin:5px 0 0 0; padding:0; color:#666; margin:0; padding:0;}
header,div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{
margin:0; padding:0; border:none; list-style-type:none;
}
.block{
  width:1100px; height:auto;
}
a{ color:#333; text-decoration:none;}
a:hover{ color:#333; text-decoration:none;}
.f_lf{ float:left; text-align: center; }
.f_l{float:left;}
.f_r{float:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.dis{display:block;}
.inline{display:inline;}
.none{display:none;}
.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
.box{ overflow:hidden;}
.box_1{border:1px solid #e2e2e2; background-color:#fff;}
.blank5{height:5px; line-height:5px;/* _margin:-3px 0;e c m o b a n*/ clear:both; visibility:hidden;}
/*布局*/
  .AreaL{width:225px; float:left;overflow:hidden}
  .AreaR{width:864px; float:right; overflow:hidden}
  
/*英文强制换行*/
.word{word-break:break-all;}
/*产品名字*/
.zhutis {
  font-size: 16px;
}
/*关注*/
.renc {
  font-weight: bold;
  color: #FF6600;
  font-size: 14px;
}
.lanmug {
  line-height: 30px;
}
/*标价*/
.paojia2 {
  line-height: 50px;
}
.shop{color:#FF3300; font-size:18px; font-weight:bolder;}
/*产品介绍*/
.keyws {
  font-size: 14px;
  color: #009900;
}



/*新闻板块*/
.all {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
}
/*左边的新闻图片*/
.allist {
  width: 255px;
  height: 794px;
  padding-left: 18px;
  padding-right: 21px;
  float: left;
  background: url(../images/news_href/alllist.png) no-repeat;
}
.allisttit {
  width: 255px;
  height: 65px;
  float: left;
  border-bottom: 1px dashed #BBB9B8;
}
.newstit {
  background: url(../images/news_href/newstit_14.gif) no-repeat;
}
.listnav{
  width:255px;
  float: left;
}
/*右边的新闻*/
.allcon {
  width: 780px;
  float: right;
  margin-top: 35px;
}
/*行业新闻的位置*/
.adress {
  width: 780px;
  height: 30px;
  float: left;
  border-bottom: 1px solid #E2E3E5;
}
/*行业新闻的位置的名字*/
.adrname {
  height: 30px;
  float: left;
  background: url(../images/news_href/all_17.gif) no-repeat left;
  padding-left: 45px;
  line-height: 30px;
  color: #276b06;
  font-family: "宋体";
  font-size: 14px;
}
/*行业新闻的位置的名字的右边*/
.adrmbx {
  float: right;
  height: 30px;
  color: #276b06;
  font-family: "宋体";
}
.adrmbx a {
  color: #276b06;
}
/*行业新闻的主体部分*/
.allmain {
  width: 780px;
  float: left;
}
/*行业新闻的主体部分的头部*/
.allmaintit {
  width: 780PX;
  float: left;
  margin-top: 35px;
}
/*行业新闻的主体部分的头部中文部分*/
.allmaintit .cn {
  width: 100%;
  height: 35px;
  float: left;
  text-align: left;
  line-height: 35px;
  color: #000000;
  font-size: 30px;
}
/*行业新闻的主体部分的头部英文部分*/
.allmaintit .eg {
  width: 100%;
  height: 15px;
  float: left;
  text-align: left;
  line-height: 15px;
  color: #000000;
  font-size: 12px;
}
/*覆盖element-ui样式*/
.el-table__fixed,.el-table__fixed-header-wrapper,.el-table__fixed-right{
  display:none;
}
.cell{
  font-size: 19px;
  height:30px;
 width: 150px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.el-button{
  background-color: rgba(0,0,0,0);
}




  



